html, body {
    height: 100%;
    margin: 0;
  }

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    color: white;
    font-family: 'Inter';
    width: 100vw;
    height: 100vh;
    background-image: url('https://i.imgur.com/YrZFSSN.jpg');
    background-size: cover;
    background-repeat: repeat;
    animation: moveBg 40s linear infinite;
}
      
@keyframes moveBg {
        0% { background-position: 0 0; }
        100% { background-position: 1000px 0; } /* Moves horizontally */
}
  
  
  .home-container h1 {
    margin-bottom: 10px;
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 1000px;
    margin-top: 0px;
  }
  
.login-form {
    gap: 40px; 
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 1, 26, 0.755); 
    padding: 60px 70px; 
    border-radius: 10px;
    border: 3px solid #0f1646;
    width: 400px; 
    max-width: 40%; 
    min-height: 425px; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.5); 
  }
  
  .login-form input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: rgb(52, 52, 52);
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: white;
    align-items: center;
    width: 100%;
  }
  .login-form input::placeholder {
    font-size: 0.9rem;
    color: white;
    font-family: 'Inter'
  }

  .login-form :focus {
    border-color: #6ea8ff;
    box-shadow: 0 0 0 2px rgba(110, 168, 255, 0.25);
  }

  @media (max-width: 600px) {
    .login-form input::placeholder {
      font-size: 0.8rem;
      color: rgba(255, 255, 255, 0.7);
    }
  }
  
  .login-form button {
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 15px;
    border: none;
    color: white;
    background: #522a9b;
    background: linear-gradient(90deg,rgb(4, 97, 133) 0%, rgb(43, 23, 117));
    cursor: pointer;
    border: 1px solid lightblue;
    transition: background 0.3s;
    font-family: "Inter";
    max-width:380px;
    font-weight: 600;
    letter-spacing: 0.3px;
  }

  .login-form button:hover {
   background: linear-gradient(90deg,rgb(13, 151, 205) 0%,rgb(85, 47, 223));
    box-shadow: 0 6px 15px rgba(0,0,0,0.4);
  }
  
  .login-form button:hover {
    background-color: #0f78d4;
  }

  .input-wrapper {
    position: relative;
    width: 100%;
  }
  
  .input-icon {
    position: absolute;
    top: 50%;
    right:-15px;
    transform: translateY(-50%);
    color: #ffffff;
    pointer-events: none;
  }

  .input-wrapper input {
    width: 100%;
  }